
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br><br></div>

<div class="bit-1" style="padding:3%">
    <center>
        <h3>send this url to friends:</h3><br>
        <!--<input class="input-title1" value="http://anonbomb.club/id/{{sid}}">!-->
        <button style="font-size: 15px;" class="btnt btn" onclick="copy()" id= "btn1g" data-clipboard-text="http://anonbomb.club/id/{{sid}}">
    http://anonbomb.club/id/{{sid}}
</button>
    
        <br><br>
        <p id="copytag" style="display:none"><i>Copied Successfully!</i></p><br>
        <h3>visit this url to see what people have said about you:</h3><br>
        <!--<input class="input-title1" value="http://anonbomb.club/id/{{pid}}">!-->
        <a href="http://anonbomb.club/id/{{pid}}" style="font-size: 15px;" class="btn" id= "btn2g" data-clipboard-text="http://anonbomb.club/id/{{pid}}">
    http://anonbomb.club/id/{{pid}}
</a>
    <br><br><br><br>
    <i>protip: bookmark the second url (or add it to your home screen) for easier access!</i>
    </center>
    
</div>

    <script src="../javascripts/clipboard.min.js"></script>

    <!-- 3. Instantiate clipboard by passing a string selector -->
    <script>
    var clipboard = new Clipboard('.btnt');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    
    function copy() {
        document.getElementById("copytag").style.display = "block"
    }
    </script>
