
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/"><b><i>anonbomb</i></b></a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br><br></div>

<div class="bit-1" style="padding:2%">
    <center>
<html >
<head>
  <meta charset="UTF-8">
  <title>ID Form</title>
  
</head>

<body>
  <body>
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>your links</h1>
			</div>
			<div class="login-form">
			    
				<button style="font-size: 15px;" class="btnt btn" onclick="copy()" id= "btn1g" data-clipboard-text="http://anonbomb.club/id/{{sid}}">
    share with friends: anonbomb.club/id/{{sid}}
</button>
<p id="copytag" style="display:none"><br><i>copied successfully!</i></p>
				<br>
				<a href="http://anonbomb.club/id/{{pid}}" style="font-size: 15px;" class="btn" id= "btn2g" data-clipboard-text="http://anonbomb.club/id/{{pid}}">
   see your messages: anonbomb.club/id/{{pid}}
</a>
				<div id="content" style="display: none;">
				    <br>
				    <p><b>thank you for using anonbomb!</b> <br><br> here's how it works:<br><br> 1. simply click on "get custom link", and you'll be given two
				    links.<br><br>2. share the first link with your friends so they can leave you anonymous messages.<br><br>3. bookmark and visit the second link to see messages that you have received!</p>
				    
				</div>
				<br>
				<p class="login-link" href="#">anonbomb © 2017 - dec0mpiled</p>
			</div>
		</div>
		<div>
		    <br><br><br>
<script type="text/javascript">
sa_client = "e1bf7958f1d0c93223e8a698d10b526b";
sa_code = "06f3cade9552106da3b060d96baaa5e3";
sa_protocol = ("https:"==document.location.protocol)?"https":"http";
sa_pline = "3";
sa_maxads = "1";
sa_bgcolor = "FFFFFF";
sa_bordercolor = "3EBEF3";
sa_superbordercolor = "3EBEF3";
sa_linkcolor = "001EB5";
sa_desccolor = "000000";
sa_urlcolor = "005677";
sa_b = "1";
sa_format = "banner_234x60";
sa_width = "234";
sa_height = "60";
sa_location = "0";
sa_radius = "6";
sa_borderwidth = "2";
sa_font = "0";
</script>
<script type="text/javascript" src="//sa.entireweb.com/sense2.js"></script>
		</div>
	</div>
</body>
  
  
</body>
</html>

    </center>
</div>

    <script src="../javascripts/clipboard.min.js"></script>

    <!-- 3. Instantiate clipboard by passing a string selector -->
    <script>
    var clipboard = new Clipboard('.btnt');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
    
    function copy() {
        document.getElementById("copytag").style.display = "block"
    }
    </script>
