
<nav class="navbar">
 <div class="wrapper">
     <center>
  <a class="navbar-brand" href="/">anonbomb</a>
  </center>
 </div>
</nav>
<div class="bit-1"><br><br><br><br></div>

<div class="bit-1" style="padding:3%">
    <center>
        <h3>share this url with your friends: <a href="http://anonbomb.club/id/{{data.sid}}">anonbomb.club/id/{{data.sid}}</a></h3>
        <br>
        <h1>{{what}}</h1>
        {{#each data.postss}}
        <center>
        <div class="bit-1" style="border: 1px solid #bfbfbf; padding: 2%">
            
<h4>anonymous commented:</h4> <br> <p>{{{value}}}</p>
            <br>
            
            <font color="#d9d9d9">{{created}}</font> <b><font color="#d9d9d9">{{location}}</font></b>
        </div>
        <div class="bit-1"></div>
        </center>
        {{/each}}
    </center>
    
</div>